.c-floor-plan
  background: #aaa
  transition: transform 3s ease
  height: 100%
  padding: 25px 25px

  .bottom
    top: calc(60% - 200px)
    position: relative
  // 3d stuff
  // transform: rotateX(45deg)
  // transform-style: preserve-3d
