.c-floor-plan
  background: #999
  transition: transform 3s ease
  height: 100%
  box-sizing: border-box

  .bottom
    top: calc(100% - 420px)
    position: relative

  .top, .bottom
    transform-style: preserve-3d

  // 3d stuff
  transform: rotateX(45deg) rotateZ(-45deg) translateX(400px) translateY(-400px) translateZ(-300px)
  transform-style: preserve-3d
  -webkit-transform-style: preserve-3d

