$size = 75px


.c-room
  display: inline-block
  transition: transform 3s ease
  text-align: center
  text-transform: uppercase
  position: relative
  background-color: #999
  border-right: 5px solid black

  width: 200px
  height: 200px

  &.focused
    &:hover
      background-color: #777

  .door-label
    transform: rotateX(-90deg)
    transition: transform 3s ease
    left: 50%
    top: 50%
    position: absolute
    pointer-events: none
    z-index: 1

  svg
    width: 75px
    height: 75px

  .st0
    fill: white

  &.booked
    .marker
      background-color: #E80C18
      &:after
        border-top-color: #E80C18

  &.available
    .marker
      background-color: #00CF15
      &:after
        border-top-color: #00CF15

  &.checked-in
    .marker
      background-color: #FF730D
      &:after
        border-top-color: #FF730D

  .marker
    width: $size
    height: $size
    background: red
    border-radius: $size
    position: absolute
    margin: -125px -36px
    border: ($size / 20) solid #eee

    svg
      position: relative
      z-index: 1

    &:before, &:after
      content: ''
      position: absolute
      top: ($size * .5)
      left: 50%

     &:after
       $border-size = .48
       border: ($size * $border-size) solid transparent
       margin: ($size * .15) ($size * $border-size * -1)
       border-top-width: ($size * .95)

      &:before
        $border-size = .51
        border: ($size * $border-size) solid transparent
        margin: ($size * .2) ($size * $border-size * -1)
        border-top: $size solid #eee
