$size = 75px
$booked-color = #FF730D
$available-color = #00CF15
$checkedin-color = #E80C18

.c-room
  display: inline-block
  transition: transform 3s ease
  text-align: center
  text-transform: uppercase
  position: relative
  background-color: #999
  border-right: 5px solid black

  width: 200px
  height: 200px

  pointer-events: none

  .room-no
    color: #333
    bottom: 10%
    position: absolute
    width: 100%
    font-size: 30px
    text-transform: capitalize

  &.focused
    pointer-events: auto
    &:hover
      background-color: #777

  &.selected
    background-color: #777

  .door-label
    transform: rotateX(-90deg)
    transition: transform 3s ease
    left: 50%
    top: 50%
    position: absolute
    pointer-events: none
    z-index: 1

    &.selected
      transition: transform 3s ease
      transform: translateZ(30px) rotateX(-90deg)
    //   -webkit-animation-name: hover
    //   -webkit-animation-duration: 2s
    //   -webkit-animation-iteration-count: infinite
    //   -webkit-animation-delay: 3s

    //   animation-name: hover
    //   animation-duration: 2s
    //   animation-iteration-count: infinite
    //   animation-delay: 3s

    // @keyframes hover
    //   0%
    //     transform: translateZ(30px) rotateX(-90deg)
    //   50%
    //     transform: translateZ(20px) rotateX(-90deg)
    //   100%
    //     transform: translateZ(30px) rotateX(-90deg)


  svg
    width: 75px
    height: 75px

  .st0
    fill: #333

  &.booked
    .marker
      background-color: $booked-color
      &:after
        border-top-color: $booked-color

  &.available
    .marker
      background-color: $available-color
      &:after
        border-top-color: $available-color

  &.checked-in
    .marker
      background-color: $checkedin-color
      &:after
        border-top-color: $checkedin-color

  .marker
    width: $size
    height: $size
    background: red
    border-radius: $size
    position: absolute
    margin: -125px -36px
    border: ($size / 20) solid #333

    svg
      position: relative
      z-index: 1

    &:before, &:after
      content: ''
      position: absolute
      top: ($size * .5)

     &:after
       $border-size = .48
       border: ($size * $border-size) solid transparent
       margin: ($size * .15) ($size * $border-size * -1)
       border-top-width: ($size * .95)
       border-radius: 5px

      &:before
        $border-size = .51
        border: ($size * $border-size) solid transparent
        margin: ($size * .2) ($size * $border-size * -1)
        border-top: $size solid #333
        z-index: -1
        left: 51.4%
