.c-dashboard
  background-color: #ccc
  height: 100%
  width: 100%
  box-sizing: border-box
  padding: 50px 50px
  overflow-y: hidden

  // 3d stuff
  perspective: 1500px
  perspective-origin: 50% 70%

  li
    display: inline

  button
    border: none
    width: 100px
    height: 40px
    margin: 0px 10px 10px 0px
    font-size: 15px
    color: white
    background-color: #333

    &:focus
      outline: none

  // .book
    // background-color: #E80C18

  // .checkin
    // background-color: #00CF15

  // .checkout
    // background-color: #FF730D
