$key-size = 10px
$booked-color = #FF730D
$available-color = #00CF15
$checkedin-color = #E80C18


.c-dashboard
  background-color: #ccc
  height: 100%
  width: 100%
  box-sizing: border-box
  padding: 50px 50px
  overflow-y: hidden
  position: relative

  // 3d stuff
  perspective: 1500px
  perspective-origin: 50% 70%

  li
    display: inline

  .controls
    display: inline
    button
      background-color: #777

  button
    border: none
    width: 100px
    height: 40px
    margin: 0px 10px 10px 0px
    font-size: 15px
    color: white
    background-color: #333

    &:focus
      outline: none

  .legend
    position: absolute
    top: 25px
    right: 25px
    div
      margin-top: 10px
      &:before
        content: ''
        background-color: red
        float: left
        width: $key-size
        height: $key-size
        margin-right: 5px
        margin-top: 2px
      &.booked:before
        background-color: $booked-color
      &.checkedin:before
        background-color: $checkedin-color
      &.available:before
        background-color: $available-color

  // .book
    // background-color: #E80C18

  // .checkin
    // background-color: #00CF15

  // .checkout
    // background-color: #FF730D
